@import '../../../../styles/includes';
.container {
  color: $light-text;
  line-height: 21px;
}

.circle {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: $inactive;
  margin: 0 10px 0 5px;
  vertical-align: middle;
}

.circle.green {
  background-color: $green;
}


.phase {
  display: flex;

  > * {
    padding: 0 5px;
  }
}

.phase.open {
  background-color: $light-gray;
}

.type {
  flex: 3;
  display: flex;
  align-items: center;
}

.type.open {
  @include roboto-bold();
}


.date {
  text-align: left;
}

.duration {
  flex: 1;
  text-align: right;
}

