@import "../../../../styles/includes";

.prizes{
  display: flex;
  flex-wrap: wrap;
  :nth-child(1) {
    border-bottom-color: $green;
  }
}
.prize{
  font-size: 22px;
  line-height: 29px;
  border-bottom: 2px solid $lighter-gray;
  margin: 0 21px 13px 0;
}

.rank {
  display: block;
  color: $light-text;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
}

.amount {
  display: block;
}
